.shipping{
    min-height: 40rem;
    background-color: whitesmoke;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.shipping .shipcontainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.shipcontainer .shipdetails{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.shipdetails .shipinfo{
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}
.shipinfo .shipinfoheading{
    width: 100%;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1rem;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.3rem;
}
.shipinfoheading .shipinfoheadingsub{
    display: flex;
    gap: 1rem;
    width: fit-content;
    font-size: 1.3rem;
}
.shipinfo .shipinfocontainer{
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shipinfocontainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 32rem;
    width: 100%;
}
.shipcontainer form input,select, #payment form .paymentinput{
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    width: 100%;
    font-size: 1.3rem;
}
.shipcontainer .button, .shipinfocontainer .sub3 button, #payment form .button{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 1rem;
    width: fit-content;
    font-weight: bold;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
.shipcontainer .button:active, .shipinfocontainer .sub3 button:active, #payment form .button:active {
    transform: scale(0.95);
}

.shipcontainer .button:focus, .shipinfocontainer .sub3 button:focus, #payment form .button:focus {
    outline: none;
}

.shipcontainer .button.ghost, .shipinfocontainer .sub3 button.ghost, #payment form .button.ghost{
    background-color: transparent;
    border-color: #FFFFFF;
}
.shipinfo #confirm{
    align-items: start;
    gap: .5rem;
    flex-direction: column;
}
.shipinfocontainer .sub1{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.shipinfocontainer .sub1 h3{
    font-size: 1.5rem;
    padding: 0px 0px .7rem 0rem;
}
.shipinfocontainer .sub1 .info{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .4rem 0rem;
}
.shipinfocontainer .sub2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.sub2 .cartitemsheading{
    font-size: 1.5rem;
}
.sub2 .allcartitems{
    border-radius: 5px; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 22rem;
    overflow-y: auto;
}
.shipcontainer .pricedetail{
    background-color: white;
    height: fit-content;
    width: 25%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    border: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}
.pricedetail h2{
    text-align: start;
    font-size: 1.6rem;
    font-weight: 600;
}
.pricedetail .sub1{
    padding: 1rem 0rem ;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.pricedetail .sub1 .sinprice,.pricedetail .total{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.pricedetail .sub1 span, .pricedetail .sub1 h3{
    font-size: 1.3rem;
    width: 50%;
    font-weight: 500;
}
.pricedetail .sub1 span{
    text-align: end;
}
.pricedetail .total span, .pricedetail .total h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.pricedetail .total span{
    padding-top: 4px;
}
.pricedetail .totalsavings{
    padding-top: .5rem;
    color: green;
    border-top: 3px solid lightgrey;
    word-spacing: 4px;
    font-weight: 550;
    font-size: 1.05rem;
    text-align: center;
}
.shipinfocontainer .sub1 .info h4{
    text-wrap: nowrap;
}
.shipinfocontainer .sub3{
    padding: 1rem 0rem .5rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payment{
    flex-direction: column;
}
@media (max-width:1290px) {
    .shipping .shipcontainer{
        width: 100%;
    }
}
@media (max-width:990px){
    .pricedetail h2{
        font-size: 1.3rem;
    }
    .pricedetail .sub1 span,.pricedetail .sub1 p,.pricedetail .sub1 h3{
        font-size: 1.1rem;
    }
    .pricedetail .total span, .pricedetail .total h3{
        font-size: 1.3rem;
    }
}
@media (max-width:900px) {
    .shipping .shipcontainer{
        flex-direction: column;
    }
    .shipcontainer .shipdetails{
        width: 100%;
    }
    .shipcontainer .pricedetail{
        width: 100%;
    }
}
@media (max-width:500px){
    #delivery{
        padding: .5rem;
    }
    #delivery form,#payment form{
        padding: 1rem 0rem;
    }
    #payment{
        padding: .5rem;
    }
    #confirm{
        padding: 1rem 0rem;
    }
    .shipinfocontainer .sub1,#payment .sub1{
        padding: 0rem .5rem;
    }
    .shipinfocontainer .sub2{
        padding: 0rem .5em;
    }
    .shipping{
        padding: 1rem .5rem;
    }
}