.forgetpassword{
    min-height: 30rem;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetpasswordsection{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 600px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}
.forgetpasswordsection h1{
    font-size: 2rem;
    padding-left: 1rem;
    margin : 0px;
}
.forgetpasswordsection .subsection1{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    padding: 1rem 0rem 1rem 1rem;
}
.forgetpasswordsection .subsection1 p{
    /* background-color: aqua; */
    width: 100%;
    font-size: 1.5rem;
    font-weight: 530;
    text-decoration: none;
    text-wrap: wrap;
}
.forgetpasswordsection .subsection1 input{
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    max-width: 500px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
}
.forgetpasswordsection .subsection2{
    height: fit-content;
    width: 100%;
    /* background-color: skyblue; */
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right:1rem;
}
.forgetpassword .subsection2 button{
    background-color: #FF4B2B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1.2rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.forgetpassword .subsection2 button:active {
    transform: scale(0.95);
}

.forgetpassword .subsection2 button:focus {
    outline: none;
}

.forgetpassword .subsection2 button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
@media (max-width:639px){
    .forgetpasswordsection .subsection2{
        padding: 1rem 1rem .5rem 0rem;
    }
    .forgetpasswordsection h1{
        margin-bottom: -1rem;
    }
    .forgetpasswordsection .subsection1{
        padding-right: 1rem;
    }
}