.item {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    gap: .5rem;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.itemimg {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.itemname {
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
    padding: 0rem .5rem;
    text-align: start;
}

.itemrating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem .5rem;
    gap: .5rem;
}

.itemreviews {
    font-size: 1rem;
    font-weight: 600;
}

.item > .prices > .itemprice:last-child {
    font-size: 1.3rem;
    font-weight: 700;
}
.item > .prices > .itemprice:first-child{
    text-decoration: line-through;
    font-size: 1.2rem;
    font-weight: 400;
}
.item > .prices{
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0rem .5rem .5rem .5rem;
}
.reactstars{
    font-size: 3rem;
}
@media (max-width: 768px) {
    .item{
        height: 350px;
        width: 225px;
    }
    .item > .prices{
        gap: .5rem;
    }
    .item > .prices > .itemprice:first-child{
        font-size: 1.1rem;
    }
    .item > .prices > .itemprice:last-child {
        font-size: 1.25rem;
    }
    .itemname {
        font-size: 1.25rem;
    }
}
@media (max-width:550px) {
    .item{
        gap: .2rem;
    }
    .itemrating{
        gap: .2rem;
    }
    .item > .prices > .itemprice:first-child{
        font-size: .9rem;
    }
    .item > .prices > .itemprice:last-child {
        font-size: 1.1rem;
    }
    .itemname {
        font-size: 1.1rem;
    }
}
@media (max-width:500px) {
    .item{
        width: 200px;
    }
}
@media (max-width:450px) {
    .item{
        height: 325px;
        width: 48%;
        gap: 0rem;
    }
    .itemrating{
        flex-direction: column;
        align-items: start;
        gap: 0rem;
    }
    .itemreviews{
        align-self: flex-end;
    }
    .item > .prices{
        flex-direction: column;
        gap: 0rem;
    }
    .item > .prices > .itemprice:first-child{
        align-self: flex-start;
    }
    .item > .prices > .itemprice:last-child {
        align-self: flex-end;
    }
}
