.updatePassword{
    min-height: 40rem;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updatePasswordSection{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}
.updatePasswordSection .subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.updatePasswordSection h1{
    font-size: 2rem;
}
.updatePasswordSection input{
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    margin: 8px auto;
    max-width: 500px;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 5px;
    position: relative;
}
.inputfield{
    max-width: 500px;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.inputfield input{
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    margin: 8px auto;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 5px;
    position: relative;
}
.inputfield .togglebtn{
    position : absolute;
    margin-right: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.updatePasswordSection .subsection .updatebtn {
    border-radius: 5px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    padding: .8rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1rem 0rem;
    cursor: pointer;
    align-self: center;
}
.updatePasswordSection .subsection button:active {
    transform: scale(0.95);
}

.updatePasswordSection .subsection button:focus {
    outline: none;
}

.updatePasswordSection .subsection button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
@media (max-width:639px){
    .inputfield input{
        width: 100%;
        font-size: 1.1rem;
    }
    .updatePasswordSection .subsection .updatebtn {
        padding: .4rem .8rem;
    }
    .subsection{
        padding: 0rem 1rem;
    }
    .updatePasswordSection h1{
        font-size: 1.5rem;
    }
    .updatePasswordSection .subsection{
        padding: 0rem;
    }
}