.adminAllUsers{
    display: flex;
    background-color: whitesmoke;
}
.allusers{
    width: 80%;
}
.adminallproducts > .products > .sub > table > tbody > tr > td:nth-child(2){
    /* background-color: tomato; */
    text-align: center;
    word-break: break-all;
}
@media (max-width:768px) {
    .adminAllUsers{
        flex-direction: column;
    }
    .allusers{
        width: 100%;
    }
}